/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

/* ---------------------------------------------------- */
.osoba {
  display: flex;
  border: 1px solid rgb(168, 168, 231);
  border-radius: 5%;
  margin: 20px;
}

.popis {
  text-align: center;
}

.foto {
  border-radius: 50%;
  max-width: 100%;
  padding: 20px;
}

.tym {
  display: flex;
}

@media (max-width: 540px) {
  .osoba {
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .foto {
    float: left;
  }
}
@media (min-width: 960px) {
  .osoba {
    flex-direction: row;
  }
}
