/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

/* ---------------------------------------------------- */
.osoba {
	display:flex;

	border: 1px solid blue;
	border-radius: 15%;
	margin: 10px;
}

.popis{
	text-align:center;
}

.foto{
	border-radius: 50%;
	max-width: 100%;
	padding:20px;
}

.tym {
  display: flex;
}

@media (min-width: 540px) {
	.osoba{
	flex-direction: column;
justify-content: flex-end;}
}
